@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

canvas {
  position: absolute;
  z-index: 49;
  pointer-events: none;
}
.hover-float {
  display: inline-block;
  transition: transform 0.8s ease, box-shadow 0.4s ease;
}

.hover-float:hover {
  transform: translateY(-5px); /* 요소를 위로 살짝 이동 */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* 살짝 그림자 추가 */
}
